---
import { Image } from "@astrojs/image/components";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import me from "../assets/images/me_irl.jpg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-md mx-auto py-20">
    <main class="font-social-reg">
      <div class="max-w-md">
        <div class="flex flex-col max-w-md">
          <sup class="text-slate-500 font-dotGothic16">
            Not sure what to write down... do you like this font?
          </sup>
          <h2 class="font-social-bold font-bold">
            hi, my name is <span class="text-yellow-400">Erik</span>
          </h2>
        </div>
        <Image
          width={350}
          height={350}
          class="lg:blur-sm lg:hover:blur-0 grayscale -hue-rotate-30 contrast-150 my-8 mx-auto shadow-md hover:shadow-slate-800"
          src={import("../assets/images/me_irl.jpg")}
          alt="me"
          format={"webp"}
        />
        <div class="pt-8 flex flex-col gap-2">
          <p class="font-social-reg text-xl">
            Currently interning at <a href="https://www.cleverfranke.com/"
              >CLEVER°FRANKE</a
            > as a front-end developer.
            <p class="font-social-light text-lg">
              I sometimes study Japanese and also build applications I abandon
              halfway.
            </p>
          </p>
        </div>
      </div>
    </main>

    <Footer lang="jp" />
  </body>
</html>
