---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <ul class="flex flex-col gap-4 my-8">
        <h3>listing ka-risutingudane</h3>
        <li>
          mouse: <a class="rounded-xl p-2 text-indigo-300" href="/"
            >secret contents</a>
        </li>
        <li>
          cat: <a
            class="rounded-xl p-2 text-lg text-blue-600 font-mono"
            href="/">secret contents</a
          >
        </li>
        <li>
          lizard: <a
            class="rounded-xl p-2 text-xl text-pink-700 bg-white"
            href="/">secret contents</a
          >
        </li>
        <li>
          snake: <a class="rounded-xl p-2 text-xs text-violet-200" href="/"
            >secret contents</a>
        </li>
        <details class="indent-0">
          <summary>dog</summary>
          <div class="indent-20 flex flex-col gap-4">
            <li>
              shibe: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a>
            </li>
            <li>
              leone: <a class="rounded-xl p-2 text-indigo-300" href="/"
                >secret contents</a>
            </li>
            <details class="indent-20">
              <summary>real</summary>
              <div class="indent-40 flex flex-col gap-4">
                <li>
                  <a
                    class="rounded-xl p-2 text-xl text-pink-700 bg-white"
                    href="/">secret contents</a
                  >
                </li>
                <li>
                  bark: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a>
                </li>
                <li>
                  barking: <a class="rounded-xl p-2 text-indigo-300" href="/"
                    >secret contents</a>
                </li>
              </div>
            </details>
          </div>
        </details>
      </ul>
    </main>
    <Footer />
  </body>
</html>
