---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="font-social-reg">
      <div class="flex flex-col max-w-md">
        <sup class="indent-14 font-dotGothic16">やいこひ</sup>
        <sup class="font-dotGothic16">どうもエリックともうします</sup>
        <h2 class="font-bold">hi im erik</h2>
        <div class="py-4 flex flex-col gap-2">
          <sup class="text-slate-500 font-dotGothic16">
            何をここに書こうかよく分からなくてどうも。
          </sup>
          <p class="font-dotGothic16">
            今は応用科学大学ユトレヒトでの3.5年生で、<a
              href="https://www.cleverfranke.com/">CLEVER°FRANKE</a
            >でフロントエンド開発者としてインターンしています。前は<a
              href="https://www.pttrns.ai"
            >
              PTTRNS.ai</a
            >でフロントエンド開発者としてインターンしました。時々日本語や不閑静なアプリを作ったりします。
          </p>
          <!-- <img src="" alt="" /> -->
          <!-- <ul class="indent-8 list-disc">
            <li class="list-ite m">
              front-end developer
              <a href="https://www.cleverfranke.com/">CLEVER°FRANKE</a>;
            </li>
            <li class="list-item">
              front-end developer
              <a href="https://www.pttrns.ai"> PTTRNS.ai</a>.
            </li>
          </ul> -->
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
