---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-sm mx-auto py-20">
    <main class="font-social-reg">
      <div class="max-w-md">
        <div class="flex flex-col max-w-md group">
          <sup class="text-slate-500 font-dotGothic16">
            何をここに書こうかよく分からなくて...
          </sup>
          <h2 class="font-dotGothic16 font-bold">
            どうも、<span class="text-yellow-400">Erik</span>と申します
          </h2>
          <sub
            class="indent-[97px] lg:group-hover:block lg:hidden font-dotGothic16 text-slate-400"
            >エリック</sub
          >
        </div>
        <img
          class="lg:blur-sm lg:hover:blur-0 grayscale w-[250px] h-[250px] -hue-rotate-30 contrast-150 my-8 mx-auto shadow-md hover:shadow-slate-800"
          src="/me_irl.jpg"
          alt="me"
        />
        <div class="pt-8 flex flex-col gap-2">
          <p class="font-dotGothic16">
            今は応用科学大学ユトレヒトでの3.5年生で、<a
              href="https://www.cleverfranke.com/">CLEVER°FRANKE</a
            >でフロントエンド開発者としてインターンしています。前は<a
              href="https://www.pttrns.ai"
            >
              PTTRNS.ai</a
            >でフロントエンド開発者としてインターンしました。
          </p>
          <p class="text-sm font-light font-dotGothic16">
            私は時々日本語を勉強したり、自分のホビープロジェクトを途中で諦めたりします。
          </p>
        </div>
      </div>
    </main>
    <Footer lang="en" />
  </body>
</html>
