---
const today = new Date();
---

<footer class="mx-2 my-2 text-sm flex gap-2 py-8">
  <a class="italic text-xs" href="https://twitter.com/hhhgh10" target="_blank">Twitter</a>
  <a class="italic text-xs" href="https://github.com/yaikohi" target="_blank">GitHub</a>
</footer>
