---
interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<footer class="my-2 text-sm max-w-xl lg:max-w-2xl py-8 font-social-reg">
  <div class="flex flex-row gap-4">
    <a
      class="text-sm text-blue-300 hover:text-blue-200"
      href="https://twitter.com/hhhghq0"
      target="_blank">Twitter</a
    >
    <a
      class="text-sm text-blue-300 hover:text-blue-200"
      href="https://github.com/yaikohi"
      target="_blank">GitHub</a
    >
    <a
      class="ml-auto font-bold text-white hover:text-rose-200"
      href={`/${lang === "jp" ? "" : "en"}`}>{lang.toLocaleUpperCase()}</a
    >
  </div>
</footer>
