---
const today = new Date().toLocaleDateString();
---

<footer class="my-2 text-sm max-w-xl lg:max-w-2xl flex flex-col gap-2 py-8">
  <div class="last-child:mx-2">
    <a class="italic text-xs" href="https://twitter.com/hhhgh10" target="_blank"
      >Twitter</a
    >
    <a class="italic text-xs" href="https://github.com/yaikohi" target="_blank"
      >GitHub</a
    >
  </div>
</footer>
