---
const today = new Date();
---

<footer class="p-8 text-center">
  <div class="my-2 text-sm flex gap-2 place-content-center">
    <a class="" href="https://twitter.com/hhhgh10" target="_blank">Twitter</a>
    <a class="" href="https://github.com/yaikohi" target="_blank">GitHub</a>
  </div>
  <p class="text-xs">
    &copy; {today.getFullYear()} Erik Beem. All rights reserved.
  </p>
</footer>
